<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成为业主</title>

    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/cwyz.css">
</head>

<body>
    <%- include('header.html')%>
    <!-- 轮播 -->
    <div class="cwyz_content">
        <div class="swiper-container swiper-container1">
            <div class="swiper-wrapper swiper-wrapper1">
                <div class="swiper-slide swiper-slide1">
                    <img src="/img/yezhu_banner1.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-slide1">
                    <img src="/img/yezhu_banner2.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-slide1">
                    <img src="/img/yezhu_banner3.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 六大安心保证 -->
    <div class="clearfix cwyz_six ">
        <div class="cwyz_title">
            <span class="cwyz_title_left"></span>
            <div class="cwyz_title_middle">
                <span>6</span>
                <h5>大安心保障</h5>
                <p>PEACE OF MIND GUARANTEE</p>
            </div>
            <span class="cwyz_title_left"></span>
        </div>
        <div class="cwyz_wrap">
            <ul class="clearfix">
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>全国分公司数量25个，覆盖全国20个城市品牌联动，构建完整生态</p>
                </li>
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>全国分公司数量25个，覆盖全国20个城市品牌联动，构建完整生态</p>
                </li>
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>全国分公司数量25个，覆盖全国20个城市品牌联动，构建完整生态</p>
                </li>
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>轻松4步一键托管免去您带人看房、找人装修、后期维护的宝贵时间租赁期间采暖、水电、宽带等费用均由我们承担</p>
                </li>
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>全国分公司数量25个，覆盖全国20个城市品牌联动，构建完整生态</p>
                </li>
                <li class="cwyz_list">
                    <img src="/img/yezhu_sixanxin1.png" alt="">
                    <h6>品牌安心 值得信赖</h6>
                    <p>贴心管家，为业主提供全程托管服务配置专员，全方位保证业主的房屋质量安全保洁妈妈，提供如对待自家般的安心的房屋保洁服务维修工程卫士，为您提供全项目、高品质的维修服务</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 安心服务 -->
    <div class="cwyz_server">
        <div class="cwyz_title">
            <span class="cwyz_title_left"></span>
            <div class="cwyz_title_middle1">
                <span>安心</span>
                <h5>服务</h5>
                <p>PROFESSIONAL SERVICE ATTITUDE</p>
            </div>
            <span class="cwyz_title_left"></span>
        </div>
        <div class="cwyz_profess">
            <ul class="clearfix">
                <li class="cwyz_mind1">
                    <div class="cwyz_txt">
                        <p>贴心管家 Close the housekeeper</p>
                        <p class="cwyz_txt2">为业主提供上门看房、在线签约、租客管理等全程托管服务。</p>
                    </div>
                </li>
                <li class="cwyz_mind2">
                    <div class="cwyz_txt">
                        <p>贴心管家 Close the housekeeper</p>
                        <p class="cwyz_txt2">为业主提供上门看房、在线签约、租客管理等全程托管服务。</p>
                    </div>
                </li>
                <li class="cwyz_mind1">
                    <div class="cwyz_txt">
                        <p>贴心管家 Close the housekeeper</p>
                        <p class="cwyz_txt2">为业主提供上门看房、在线签约、租客管理等全程托管服务。</p>
                    </div>
                </li>
                <li class="cwyz_mind2">
                    <div class="cwyz_txt">
                        <p>贴心管家 Close the housekeeper</p>
                        <p class="cwyz_txt2">为业主提供上门看房、在线签约、租客管理等全程托管服务。</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- 别让房子困住你的生活 -->
    <div class="cwyz_life">
        <div class="swiper-container swiper-container_life">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner1.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner2.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner3.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner4.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner5.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner6.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner7.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner8.gif" alt=""></div>
                <div class="swiper-slide swiper-slide2"><img src="/img/yezhu_banner9.gif" alt=""></div>
            </div>
        </div>
    </div>
    <!-- 与最美业主一起 -->
    <div class="cwyz_beautiful">

    </div>

    </div>


    <%- include('footer.html')%>
    <script src="/js/jquery.js"></script>
    <script src="/js/swiper.js"></script>
    <!-- <script src="/js/gyqy.js"></script> -->
    <script>

        var mySwiper = new Swiper('.swiper-container1', {
            loop: true, // 循环模式选项
            autoplay: true,
            pagination: {
                el: '.swiper-pagination',
            },
        })
        var mySwiper2 = new Swiper('.swiper-container_life', {
            loop: true, // 循环模式选项
            // autoplay: true,
            slidesPerView: 3,//同时显示的数量
            slidesPerGroup: 3, //三个为一组
            spaceBetween : 30,//图片之间的间距
        })


    </script>


</body>

</html>