<footer>
    <div class="footer clearfix">
        <ul class="clearfix">
            <li class="fl">
                <h3>关于企业</h3>
                <span>企业介绍</span>
                <span>企业荣誉</span>
                <span>联系我们</span>
            </li>
            <li class="fl">
                <h3>加入我们</h3>
                <span>社会招聘</span>
                <span>校园招聘</span>
            </li>
            <li class="fl">
                <h3>法律声明</h3>
                <span>隐私保护</span>
                <span>知识产权</span>
            </li>
            <li class="fl">
                <h3>百科</h3>
            </li>
        </ul>
        <div class="footer_left fl">
            <h4>
                <img src="/img/logo.png" alt="">
            </h4>
            <p class="footer_p1">公司地址：陕西省西安市雁塔区唐延路中段37号乙号洛克大厦27F</p>
            <p class="footer_p2">服务电话：4009961585</p>
            <p class="footer_p3">招聘邮箱：h19909263785@163.com</p>
            <p class="footer_desc">版权声明 © 2018-2020 陕西大城小屋不动产管理有限公司 版权所有 陕ICP备18007211号</p>
        </div>
        <div class="fl footer_code">
            <img src="/img/footer_code.png" alt="">
        </div>
        <div class="footer_right fr">
            <h4>快速托管房屋<span>House hosting</span></h4>
            <form action="/doSumbit" method="POST">
                <input type="text" placeholder="您的姓名：">
                <input type="text" placeholder="联系电话：">
                <input type="text" placeholder="所在地区：">
                <input type="submit" value="提交" class="footer_submit">
            </form>
        </div>
    </div>
</footer>