<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于企业</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" href="/css/gyqy.css">
</head>

<body>
    <%- include('header.html')%>
    <!-- 关于企业 -->
    <div class="gyqy">
        <!-- 背景图 -->
        <div class="gyqy_bgpir"></div>
        <div class="gyqy_hourse">
            <!-- 居中展示内容 -->
            <div class="gyqy_centre">
                <!-- 关于大城小屋 -->
                <div class="gyqy_nav clearfix">
                    <div class="clearfix  gyqy_title_left">
                        <a href="#">
                            <span>关于大城小屋</span>
                        </a>
                    </div>
                    <div class="gyqy_title_right">
                        <a href="#" class="gyqy_a">首页</a>
                        <i>-</i>
                        <a href="#" class="gyqy_a">关于企业</a>
                        <i>-</i>
                        <span>关于大城小屋</span>
                    </div>
                </div>
            </div>

        </div>
        <!-- 大城小屋介绍 -->
        <div class="gyqy_main">
            <div class="gyqy_subpage">
                <!-- 同一个元素里面 同级的两个快元素都使用margin-top会出现穿透问题 -->
                <div class="gyqy_title">
                    <img src="/img/gyqy_about1.jpg" alt="">
                </div>
                <!-- 描述 -->
                <div class=" clearfix gyqy_description">
                    <p>
                        “大城小屋”主营毛坯房托管及回租业务，是一家涉及房产管理、交易服务、后房地产市场服务为一体的专业不动产服务企业。公司以“整合优质资源，提供高效服务”为使命，致力于为闲置房屋业主提供一站式托管服务，依靠自身专业的房屋管理经验，迎合现代人审美对房屋进行包装设计，让业主享受到更实际的省心、省时、省事，成为更安心的房屋资产管理专家。同时，与市场成熟的公寓运营品牌及生态流量平台达成战略合作，也为城市租房人群提供高档社区管理+星级酒店服务+智能与科技完美融合为一体的高档智能型公寓。
                    </p>
                    <p>
                        大城小屋先后获得“中国3.15诚信企业”“陕西省行业十佳诚信单位”、“陕西省重质量守信誉单位”、“陕西省诚信经营示范单位”、“陕西省AAA级信誉单位”等荣誉称号。公司着手构建以西安为中心，辐射全国主要城市的长短租公寓资产管理平台。目前已在成都、重庆、南京、杭州、苏州、大连、武汉、长沙、济南、青岛、太原、郑州、石家庄、廊坊、福州、昆明、贵阳、宁波等城市成立二十余家子公司、分公司，力将打造行业内一流的房屋资产管理机构。
                    </p>
                </div>
            </div>
        </div>
        <!-- 企业使命 -->
        <div class="gyqy_list"></div>
        <!-- 地图 -->
        <div class="gyqy_sitemap">
            <!-- 地图部分 -->
            <div class="gyqy_map">
                <div id="china-map"></div>
            </div>
            <!-- 地图右下角图片 -->
            <div class="gyqy_map_botoom">
                <img src="/img/gyqy_about3.jpg" alt="">
            </div>
        </div>
        <!-- 年份 -->
        <div class="gyqy_year"></div>
        <!-- 企业荣誉 honor-->
        <div class="gyqy_honor">
            <div class="gyqy_honor_pir">
                <img src="/img/gyqy_about5.jpg" alt="">
            </div>
            <!-- 拖动的轮播 -->
            <div class="gyqy_banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper clearfix">
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu1.jpg" alt="">
                            <p>陕西省行业十佳诚信单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu2.jpg" alt="">
                            <p>陕西省重质量守信誉先进单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu3.jpg" alt="">
                            <p>国家质量监督合格红榜产品</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu4.jpg" alt="">
                            <p>陕西省行业十佳诚信单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu5.jpg" alt="">
                            <p>陕西省质量品牌单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu6.jpg" alt="">
                            <p>陕西省诚信经营示范单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu7.jpg" alt="">
                            <p>全国质量信誉保证、畅销品牌</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu8.jpg" alt="">
                            <p>中国3.15诚信企业</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu9.jpg" alt="">
                            <p>中国著名品牌</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu10.jpg" alt="">
                            <p>陕西省AAA级信誉单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu11.jpg" alt="">
                            <p>陕西省绿色环保典范单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu12.jpg" alt="">
                            <p>陕西省行业十佳诚信单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu13.jpg" alt="">
                            <p>陕西省AAA级信誉单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu14.jpg" alt="">
                            <p>陕西省重质量守信誉先进单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu15.jpg" alt="">
                            <p>陕西省诚信经营示范单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu16.jpg" alt="">
                            <p>陕西省绿色环保典范单位</p>
                        </div>
                        <div class="swiper-slide">
                            <img src="/img/gyqy_zhengshu17.jpg" alt="">
                            <p>陕西省AAA级信誉单位</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- 六大竞争 -->
        <div class="gyqy_contend"></div>


    </div>

    <%- include('footer.html')%>
    <script src="/js/jquery.js"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/china.js"></script>
    <script src="/js/gyqy.js"></script>
</body>

</html>