<header>
    <div class="header clearfix">
        <a href="/" class="fl logo">
            <img src="/img/logo.png" alt="">
        </a>
        <ul class="fr">
            <li class="head_li"><a href="/">首页</a></li>
            <li class="head_li"><a href="/gyqy">关于企业</a></li>
            <li class="head_li"><a href="/cwyz">成为业主</a></li>
            <li class="head_li"><a href="/wyzf">我要租房</a></li>
            <li class="head_li"><a href="/swhz">商务合作</a></li>
            <li class="head_li"><a href="/xwkx">小屋快讯</a></li>
            <li class="head_li"><a href="/jfgz">旧房改造</a></li>
        </ul>
    </div>
</header>