<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/jfgz.css">
    <title>旧房改造</title>
</head>

<body>
    <%- include('header.html')%>
    <div class="jg_wrap">
        <div class="jiugaiOne"></div>
        <div class="jiugaiTwo"></div>
        <div class="jiugaiThree"></div>
        <div class="jiugaiFour"></div>
        <div class="jiugaiFive"></div>
        <div class="jiugaiSix"></div>
        <div class="jiugaiSeven"></div>
        <div class="jiugaiEight"></div>
        <div class="jiugaiNine"></div>
        <div class="jiugaiTen"></div>
        <div class="jiugaiEle"></div>
        <div class="jiugaiTwe"></div>
        <div class="jiugaiThrteen"></div>
        <div class="jiugaiFouteen"></div>
        <div class="jiugaiFifteen"></div>
        <div class="jiugaiSixteen"></div>
        <div class="jiugaiSevteen"></div>
        <div class="jiugaiEigteen">
            <ul class="clearfix">
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
            </ul>
        </div>
        <div class="jiugaiNinteen">
            <div class="jgTitle">
                <img src="/img/jiugai19_top.jpg">
            </div>
            <ul class="clearfix">
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
                <li>
                    <span class="prev">改造前</span>
                    <i></i>
                </li>
                <li>
                    <span class="nows">改造后</span>
                    <i></i>
                </li>
            </ul>
        </div>
    </div>
    <%- include('footer.html')%>
</body>

</html>