<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/shzr.css">
    <title>社会责任</title>
</head>

<body>
    <%- include('header.html')%>
    <div class="swhztou">
        <img src="/img/hezuo_banner.jpg" alt="">
    </div>
    <div class="nav_title">
        <div class="nav_titleBox">
            <div class="nav_left">
                <div>
                    <a href="http://localhost:3000/swhz">
                        <strong class="hzyx">合作意向</strong>
                    </a>
                </div>
                <div>
                    <a href="http://localhost:3000/shzr">
                        <strong class="shzr">社会责任</strong>
                    </a>
                </div>
            </div>
            <div class="nav_right">
                <a href="http://localhost:3000/">首页</a>
                <i>-</i>
                <a href="http://localhost:3000/swhz">商务合作</a>
                <i>-</i>
                <span>社会责任</span>
            </div>
        </div>
    </div>
    <div class="c_zeren1">
        <img src="/img/zeren1.jpg" alt="">
    </div>
    <div class="c_zeren2">
        <img src="/img/zeren2.jpg" alt="">
    </div>
    <div class="c_zeren3">
        <img src="/img/zeren3.jpg" alt="">
    </div>
    <div class="c_zeren4">
        <img src="/img/zeren4.jpg" alt="">
    </div>
    <%- include('footer.html')%>
</body>

</html>