<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wyzf.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1855162_q949bhpr9u.css">
    <title>我要租房</title>
</head>

<body>
    <%- include('header.html')%>
    <div class="zufang1">
        <img src="/img/zufang1.jpg" alt="">
    </div>
    <div class="zufang2">
        <img src="/img/zufang2.jpg" alt="">
    </div>
    <div class="zufang">
        <div class="zufang_center">
            <div class="zufang_left">
                <div class="zufang_left1">
                    <img src="/img/zufang_img.jpg" alt="">
                </div>
            </div>
            <div class="zufang_right">
                <p class="gyzs">公寓展示</p>
                <p class="gyzs_list">北欧简约风（样板间实景照片）</p>
                <img src="/img/zufang3.jpg" alt="">
                <img src="/img/zufang4.jpg" alt="">
                <p class="moveapp">更多房源详见APP</p>
            </div>
        </div>
    </div>
    <div class="zufang3">
        <img src="/img/zufang5.jpg" alt="">
    </div>
    <div class="zufang4">
        <img src="/img/zufang6.jpg" alt="">
    </div>
    <div class="zufang5">
        <img src="/img/zufang7.jpg" alt="">
    </div>
    <div class="zufang6">
        <img src="/img/zufang8.jpg" alt="">
    </div>
    <div class="zufang7">
        <img src="/img/zufang9.jpg" alt="">
    </div>
    <div class="contactUs">
        <div class="contactUs_1">
            <div class="contactUs_left">
                <div class="programme">
                    <p class="programme_1">Get The Revenue Plan Now</p>
                    <p class="programme_2">立即获取收益方案</p>
                    <form action="" class="contact">
                        <div>
                            <p class="programmeName">您的姓名:</p>
                            <input type="text" class="iptName">
                        </div>
                        <div>
                            <p class="programmetel">联系电话:</p>
                            <input type="text" class="iptName">
                        </div>
                        <div>
                            <p class="programmecity">所在地区:</p>
                            <input type="text" class="iptName iptcity">
                            <i class="iconfont iconf11"></i>
                        </div>
                        <button type="submit" class="submit">提交</button>
                    </form>
                </div>
            </div>
            <div class="contactUs_right">
                <div class="ontact_Us">
                    <h2>Contact Us</h2>
                    <h5>联系我们</h5>
                </div>
                <ul>
                    <li>
                        <h3>
                            <img src="/img/container10_fr_icon01lan.png" alt="">
                        </h3>
                        <span>陕西省西安市雁塔区唐延路中段37号乙号洛克大厦27F</span>
                    </li>
                    <li>
                        <h3>
                            <img src="/img/container10_fr_icon02lan.png" alt="">
                        </h3>
                        <span>4009961585</span>
                    </li>
                    <li>
                        <h3>
                            <img src="/img/container10_fr_icon03lan.png" alt="">
                        </h3>
                        <span>h19909263785@163.com</span>
                    </li>
                </ul>
                <dl class="wxtb_wx">
                    <dd class="borderleft"></dd>
                    <div class="wxtb">
                        <img src="/img/container10_fr_icon05.png" alt="">
                    </div>
                    <dd class="borderright"></dd>
                </dl>
            </div>
        </div>
    </div>
    <%- include('footer.html')%>
</body>

</html>