<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/static.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mroe.css">

</head>

<body>
    <%- include('header.html')%>
    <div class="xwkx_title">
        <div class="xwkx_content clear">
            <div class="xwkx_left">
                <ul>
                    <li class="xukx_avtive">公司新闻</li>
                    <li>行业咨讯</li>
                    <li>业主故事</li>
                    <li>小屋故事</li>
                    
                </ul>
            </div>
            <div class="xwkx_right">
                <ul>
                    <li class="xukx_icon"></li>
                    <li>首页
                        <i>-</i>
                    </li>
                    <li>小屋快讯
                        <i>-</i>
                    </li>
                    <li>公司新闻
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="more_main">
        <div class="more_center">
            <div class="more_left">
                <div class="more_title">
                    <div class="more_time">
                        <h3>16</h3>
                        <h5>2019-09</h5>
                    </div>
                    <div class="more_cell">
                        <h3>活动回顾丨大城小屋西安业主在粉巷来了一场不一般的神秘Party......</h3>
                        <span>浏览：29次</span>
                    </div>
                </div>
                <!-- 下面的内容 -->
                <div class="more2_txt">
                    <p>
                        <strong class="more2_title">
                            <span>
                                时间易逝，风格永存
                            </span>
                        </strong>
                    </p>
                    <p class="more2_left">
                        <span>
                            奢侈品的购买，不仅是对高端品质生活的选择，更是我们个人风格的优雅体现。但随着手里的奢品越来越多，购买渠道越来越杂，款式的选择越来越丰富，相信也有不少疑惑慢慢浮现在你心底……
                        </span>
                    </p>

                    <div class="gooslist">
                        <span class="list">到底在购买奢侈品时:</span><br><br>
                        <p>
                            <strong>
                                <span>在哪个国家代购最划算？</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span>哪些品牌款式更保值？</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span>到手的奢品怎样鉴定护理？</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span>闲置宝贝怎样置换寄卖？</span>
                            </strong>
                        </p>
                    </div>
                    <p class="more2_left">
                        <strong>
                            <span>8月16日，恒城永昶集团旗下奢侈品交易平台猫腻奢品携手大城小屋，举办了“猫腻奢品线下品鉴沙龙（第一期）”“猫腻奢品线下品鉴沙龙（第一期）”的活动，为给有奢侈品需求的客户提供更多的便捷服务，同时也针对高端客群提供惊喜福利及交流分享平台，一场美妙优雅的奢品盛宴就这样在西安粉巷内华丽上演了。</span>
                        </strong>
                    </p>
                    <img src="img/more_pic1.png" alt="">
                    <p>
                        <strong>
                             <span>
                            大城小屋西安
                        </span>
                        </strong>
                       

                    </p>
                    <img src="img/more_pic2.png" alt="">
                    <p>
                       <strong>
                        <span>
                            大城小屋西安
                        </span>
                       </strong>

                    </p>
                    <p class="more2_left">
                        <span>本次沙龙活动由猫腻奢品负责人，拥有丰富奢侈品管理经验，并具有中国检验认证集团专业认证的鉴定师——刘佳，为到场的各位嘉宾分享了奢侈品购买，及鉴定养护的技巧妙招。</span>
                    </p>
                    <img src="img/more_pic3.png" alt="">
                    <img src="img/more_pic4.png" alt="">
                    <p class="more2_left">
                        <span>
                            特别值得一提的是，除了技巧妙招的分享交流，在互动环节，为给到场的嘉宾带来实质性的惊喜福利，作为一名专业鉴定师，刘老师更为携带自有奢品的嘉宾做了现场免费鉴定护理，直观精彩的现场实操讲解获得了嘉宾们的阵阵掌声。
                        </span>
                    </p>
                    <img src="img/more_pic5.png" alt="">
                    <p class="more2_left">
                        <span>
                            本次沙龙活动，我们不仅为尊贵的到场嘉宾准备了，满满的奢侈品品鉴干货，更有精美伴手礼和精致茶歇可供享用。易学实用的技巧分享，优雅舒适的沟通氛围，让这场两小时的沙龙活动在欢声笑语中圆满结束。
                        </span>
                    </p>
                    <img src="img/more_pic7.png" alt="">
                    <img src="img/more_pic01.png" alt="">
                    <P>
                        <strong>
                            <span>
                                精心准备，只为等到如约而至的你~▼
                            </span>
                        </strong>
                    </P>
                    <img src="img/more_pic8.png" alt="">
                    <p class="more2_left">
                        <span>珍惜每一次遇见，感恩每一份情谊。是我们彼此的主动，缔造了这段美妙时光。感谢相遇，唯愿长伴……</span>
                    </p>
                    <img src="img/more_pic9.png" alt="">
                    <div class="goodcolor">

                        <p>
                            <strong>
                                <span>对奢侈品有兴趣的朋友们</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span>可以自己到店了解</span>
                            </strong>
                        </p>
                        <p>
                            <strong>
                                <span>或扫码添加好友自行了解哟！</span>
                            </strong>
                        </p>
                        <p class="maoni">
                            <strong>
                                <span>猫腻奢品</span>
                            </strong>
                        </p>
                        <p class="black">
                            <strong>
                                <em>西安碑林区南大街粉巷金时代精品广场</em>
                            </strong>
                        </p>
                        <p class="black">
                            <strong>
                                <em>M3M4商铺</em>
                            </strong>
                        </p>
                        <p class="black">
                            <strong>
                                <em>Opening Time: 9:00 – 21:00</em>
                            </strong>
                        </p>
                    </div>

                    <img src="img/more_pic10.png" alt="">
                    <p>
                        <strong>
                            <span>End</span>
                        </strong>
                    </p>
               
                    <img src="img/more_pic11.png" alt="">
                    <p>
                        <strong>【版权声明：本文系
                            <a href="" class="more_color">大城小屋</a>
                        </strong>
                       
                        <strong>
                            <span>
                                原创文章，转载需注明出处和链接】
                              
                            </span>
                        </strong>
                    </p>
                    <div class="more_last">
                        <div class="last_left ">
                            <div class="more_pos"></div>
                            <b>上一篇：</b>
                            <b>暂无信息</b>
                        </div>
                        <div class="last_right ">
                            <div class="more_pos"></div>
                            <b>下一篇：</b>
                            <b class="more_active">大城小屋装修巡检丨装修问题绿色反馈通道，等你来反馈！</b>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more_right">
                <span class="good_news">
                    <img src="/img/more_news.png" alt="">
                    <h4>推荐新闻</h4>
                </span>
                <ul class="good_list">
                    <li>
                        <img src="/img/xukx_pic1.jpg" alt="">
                        <h3>活动回顾丨大城小屋西安业主在粉巷来了一场不一般的神秘Party......</h3>
                    </li>
                    <li>
                        <img src="/img/xukx_pic2.png" alt="">
                        <h3>活动回顾丨大城小屋西安业主在粉巷来了一场不一般的神秘Party......</h3>
                    </li>
                    </li>
                    <li>
                        <img src="/img/xukx_pic1.jpg" alt="">
                        <h3>活动回顾丨大城小屋西安业主在粉巷来了一场不一般的神秘Party......</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <%- include('footer.html')%> -->
    <script src="/js/jquery.js"></script>
    <script src="/js/static.js"></script>
    
</body>

</html>