<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/static.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <%- include('header.html')%>
  
    <div class="abody">
        <div class="xukx_banner"></div>
        <div class="xwkx_title xwkx_news">
            <div class="xwkx_content clear" >
                <div class="xwkx_left">
                    <ul>
                        <li class="xukx_avtive">公司新闻</li>
                        <li>行业咨讯</li>
                        <li>业主故事</li>
                        <li>小屋故事</li>
                    </ul>
                </div>
                <div class="xwkx_right">
                    <ul>
                        <li class="xukx_icon"></li>
                        <li>首页
                            <i>-</i>
                        </li>
                        <li>小屋快讯
                            <i>-</i>
                        </li>
                        <li >公司新闻
                            <i></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <!-- 内容部分 -->
    <main id="all_main">
        <div class="xwkx_main">
            <ul>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-20</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic1.jpg" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>活动回顾丨大城小屋西安业主在粉巷来了一场不一般的神秘Party......</h5>
                        <p>恒城永昶集团旗下奢侈品交易平台猫腻奢品携手大城小屋，举办了“猫腻奢品线下品鉴沙龙（第一期）...</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-15</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic2.png" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>大城小屋装修巡检丨装修问题绿色反馈通道，等你来反馈！</h5>
                        <p>今天小屋特意给大家带来装修问题绿色反馈通道，小屋将统一搜集装修有问题的业主，统一进行反馈，...</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-13</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic1.jpg" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>“巢客”跑路，暴雷事件再起，到底如何避开不良长租公寓企业？</h5>
                        <p>又一家包租公司疑似卷款跑路，这次是「巢客遇家。</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-11</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic1.jpg" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>旧改全面加速，长租公寓推动老旧小区“柔性改造”...</h5>
                        <p>日前，国务院办公厅印发《关于全面推进城镇老旧小区改造工作的指导意见》...</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-10</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic2.png" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>大城小屋丨狠抓装修工程质量，严厉处罚不合格工地！</h5>
                        <p>严格把控装修工程质量关,对每次巡检结果进行登记汇总，对于发现问题的装修工地进行及时处理，且...</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
                <li class="clear">
                    <div class="xukx_time">
                        <span>2020-08-6</span>
                        <i></i>
                    </div>
                    <div class="xwkx_pic">
                        <img src="/img/xukx_pic1.jpg" alt="">
                    </div>
                    <div class="xwkx_txt">
                        <h5>做背后支持者，从西安到大连再到成都，他在大城小屋经历了什么？</h5>
                        <p>在大城小屋，每天都有很多新人入职，作为新的一份子，他们渴望更快融入这个大家庭，而了解一个企...</p>
                        <div class="xwkx_box">
                            <a href="/more">
                                <span class="xwkx_more"></span>
                                <span class="xukx_hover"></span>
                            </a>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>
       
    </main>
       
    <%- include('footer.html')%>
    <script src="/js/jquery.js"></script>
    <script src="/js/static.js"></script>

 
 <script>



</script>
</body>

</html>