<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/static.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <%- include('header.html')%>
  
    <div class="abody">
        <div class="xukx_banner"></div>
        <div class="xwkx_title xwkx_news">
            <div class="xwkx_content clear" >
                <div class="xwkx_left">
                    <ul>
                        <li class="xukx_avtive xukx_anv" id="1">公司新闻</li>
                        <li class="xukx_anv" id="2">行业咨讯</li>
                        <li class="xukx_anv" id="3">业主故事</li>
                        <li class="xukx_anv" id="4">小屋故事</li>
                    </ul>
                </div>
                <div class="xwkx_right">
                    <ul>
                        <li class="xukx_icon"></li>
                        <li>首页
                            <i>-</i>
                        </li>
                        <li>小屋快讯
                            <i>-</i>
                        </li>
                        <li >公司新闻
                            <i></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <!-- 内容部分 -->
    <main id="all_main">
        <div class="xwkx_main">
            <ul>

            </ul>
        </div>
       
    </main>
       
    <%- include('footer.html')%>
    <script src="/js/jquery.js"></script>
    <script src="/js/static.js"></script>
</body>

</html>