.clearfix::after{
    content: "";
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.swiper-container1 {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}


.swiper-slide1 {
    text-align: center;
    font-size: 18px;
    width: 1926px;
    position: relative;
    float: left;
}
.swiper-slide1 img {
    width: 100%;
    height: 100%;
}
.swiper-button-next{
    position: absolute;
    top: 50%;
    right: 0;
}
.swiper-button-prev{
    position: absolute;
    top: 50%;
    left: 0;
}
.swiper-wrapper1 .swiper-pagination{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    bottom: 30px;
}
.swiper-pagination-bullet{
    background: #FFFFFF;
    opacity: .8;
}
/* dangqian */
.swiper-pagination-bullet-active{
    background: #f3620f;
    width: 45px;
    border-radius: 4px;
}
/*  */
/* 六大安心保证 */
.cwyz_six{
    width: 100%;
    height: 1120px;
    background: url('../img/yezhu_sixbg.jpg') no-repeat center;
    background-size: cover;
}
.cwyz_title{
    width: 892px;
    text-align: center;
    height: 105px;
    /* line-height: 105px; */
    margin: 90px auto 20px;
}
.cwyz_title_left{
    width: 210px;
    height: 3px;
    display: block;
    background: #999999;
    float: left;
    margin-top: 72px;
}
.cwyz_title_middle{
    width: 312px;
    float: left;
    text-align: center;
    margin: 0 80px;
}
.cwyz_title_middle span{
    font-size: 88px;
    color: #f3620f;
}
.cwyz_title_middle h5{
    font-size: 46px;
    font-weight: 550;
    color: #041619;
    line-height: 46px;
    display: inline-block;
}
.cwyz_title_middle p{
    font-size: 20px;
    line-height: 56px;
    color: #041619;
}
.cwyz_wrap ul{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* text-align: center; */
   
}
.cwyz_list{
    float: left;
    text-align: center;
    margin: 50px 0;
    width: 483px
    /* display: flex;
    justify-content: space-around; */
}
.cwyz_list img{
    display: inline-block;
}
.cwyz_list h6{
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    line-height: 60px;
}
.cwyz_list p{
    font-size: 20px;
    color: #707070;
    margin: 20px 60px 0;
    line-height: 36px;
}
/* 安心服务 */
.cwyz_server{
    width: 1200px;
    margin: 0 auto;
}
.cwyz_title_middle1{
    float: left;
    width: 392px;
    margin: 0 40px;
}
.cwyz_title_middle1 span{
    display: inline-block;
    font-size: 46px;
    font-weight: 550;
    color: #f3620f;
    line-height: 46px;

}
.cwyz_title_middle1 h5{
    display: inline-block;
    font-size: 46px;
    font-weight: 550;
    color: #041619;
    line-height: 46px; 
}
.cwyz_title_middle1 p{
    font-size: 20px;
    line-height: 56px;
    color: #041619;
}
.cwyz_profess{
    padding: 0 10px;
}
.cwyz_mind1{
    width: 566px;
    height: 297px;
    background: url('../img/yezhu_guanjia1.jpg') no-repeat center;
    background-size: cover;
    margin-right: 25px;
    margin: 23px 23px 23px 0;
    position: relative;
    float: left;
}
.cwyz_mind2{
    width: 566px;
    height: 297px;
    background: url('../img/yezhu_guanjia2.jpg') no-repeat center;
    background-size: cover;
    margin-right: 25px;
    margin: 23px 0 23px 23px;
    position: relative;
    float: left;
}
.cwyz_mind1:hover,.cwyz_mind2:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.cwyz_mind3{
    background: url('../img/yezhu_guanjia3.jpg') no-repeat center;

}
.cwyz_mind4{
    background: url('../img/yezhu_guanjia4.jpg') no-repeat center;

}

.cwyz_txt{
    width: 100%;
    height: 124px;
    background: rgba(240,135,75,.85);
    position: absolute;
    bottom: 0;
    left: 0;
}
.cwyz_txt p{
    font-size: 24px;
    color: #fff;
    line-height: 28px;
    margin: 20px 0 10px 23px;
}
.cwyz_txt .cwyz_txt2{
    font-size: 14px;
    margin: 0 23px;
}
/* 生活 */
.cwyz_life{
    width: 100%;
    height: 870px;
    background: url('../img/yezhu_lift1.jpg') no-repeat center;
    background-size: cover;
    margin-top: 100px;
}
.swiper-container_life{
    width: 1200px;
    margin: 0 auto;
}
.swiper-slide2{
    padding-top: 406px;
    width: 1200px;
    margin: 0 auto;
    height: auto;
    /* margin-right: 30px; */
}
.swiper-slide2 img{
    width: 390px;
    height: 390px;
    display: inline-block;
}
/* 与最美业主一起 */
.cwyz_beautiful{
    width: 100%;
    height: 1040px;
    background: url('../img/yezhu_zuimei.jpg') no-repeat center;
    background-size: cover;
}
.cwyz_beaf .cwyz_title{
    width: 892px;
    height: 105px;
    margin: 0 auto;
    padding: 90px 0 20px;
}
.cwyz_c_beautiful_content{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.swiper-slide3 img{
    display: inline-block;
    text-align: center;

}
.swiper_prev{
    background: url('../img/yezhu_zuimeiL.png') no-repeat center;
    width: 40px;
    height: 40px;
    background-size: 100%;
    opacity: .35;
    left: 10px;
    
}
.swiper_next{
    background: url('../img/yezhu_zuimeiR.png') no-repeat center;
    width: 40px;
    height: 40px;
    background-size: 100%;
    opacity: .35;
    right: 10px;

}
.swiper-slide3{
    position: relative;
}
.swiper-slide3 p{
    width: 916px;
    height: 125px;
    line-height: 125px;
    font-size: 34px;
    color: #041619;
    position: absolute;
    bottom: 0px;
    left: 142px;
    background: rgba(255,255,255,.5);
}
.cwyz_c_beautiful_content a{
    text-decoration: none;
}
.cwyz_c_beautiful_content .cwyz_case{
    width: 370px;
    height: 68px;
    font-size: 28px;
    text-align: center;
    margin: 50px auto 0;
    background: #dd5519;
    color: #FFFFFF;
    border-radius: 68px;
    line-height: 68px;
}
/* 轻松四步坐享房屋经济 */
.cwyz_title .cwyz_easy_middle{
    width: 700px;
    margin-left: 40px;
}
.cwyz_easy .cwyz_easy_title{
    width: 1200px;
}
.cwyz_easy_four{
    width: 1200px;
    height: 240px;
    margin: 100px auto 110px;
    background: url('../img/yezhu_sibu.jpg') no-repeat center;
    background-size: 100%;
}
/* 图 */
.cwyz_pirce>ul{
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.cwyz_pirce_list{
    width: 388px;
    height: 258px;
    float: left;
    margin-bottom: 10px;
}
.cwyz_pirce_list:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
/* 大城小屋登陆亚洲第一屏 */
.cwyz_land .cwyz_land_title{
    width: 1100px;
}
.cwyz_land_middle{
    width: 600px;
    margin-left: 40px;
}
.cwyz_land_center{
    width: 1200px;
    margin: 50px auto;
}
.cwyz_land_left{
    width: 812px;
    height: 552px;
    background: url('../img/yezhu_guanggao1.jpg') no-repeat center;
    background-size: 100%;
    float: left;
}
.cwyz_land_right{
    float: right;
}
.cwyz_land_right p{
    width: 373px;
    height: 268px;
    background: url('../img/yezhu_guanggao2.jpg') no-repeat center;
    background-size: 100%;
}
.cwyz_land_right>.cwyz_img2{
    margin-top: 16px;
    background: url('../img/yezhu_guanggao3.jpg') no-repeat center;

}
.cwyz_contact{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
   
}
.cwyz_contactL{
    width: 328px;
    height: 530px;
    padding: 70px 66px 0;
    background: rgba(255,87,34,.9);
    /* 左上角左下角 */
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    float: left;
}
.cwyz_contact_title{
    color: #fff;
    margin-bottom: 44px;
}
.cwyz_contact_title h2{
    font-size: 26px;
    /* 文本中的每个单词以大写字母开头。 */
    text-transform: capitalize;;
}
.cwyz_item{
  width: 328px;
    height: 46px;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;

}  
.cwyz_contact_title h5{
    font-size: 30px;
    margin-top: 14px;
}
.cwyz_item label{
    font-size: 16px;
    color: #9d9d9d;
    width: 80px;
    height: 46px;
    /* line-height: 46px; */
    position: absolute;
    left: 0;
    bottom: 0px;
    display: inline-block;
    padding-left: 20px;
   
   
}
.cwyz_item input{
    width: 220px;
    padding-left: 108px;
    outline: none;  
}
.cwyz_i{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #9d9d9d;
    position: absolute;
    right: 10px;
    top: 40%;
}

.cwyz_opti .cwyz_i{
    transition: all 0.4s ease-in-out;
   
}
/* .cwyz_select .cwdz_area{
    transition: all 0.4s ease-in-out;
   
} */

.cwdz_area{
    border: 1px solid #d2d2d2;
    height: 288px;
    /* height: 0; */
    width: 200px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    bottom: 30px;
    /* bottom: 38px; */
    overflow-y: auto;
    padding: 5px 0;
    text-align: left;
    /* opacity: 0; */
    display: none;
}
.cwdz_area_list{
    line-height: 36px;
    padding: 0 10px;
}
.cwyz_submit{
    display: inline-block;
    width: 192px;
    height: 45px;
    font-size: 18px;
    color: #ff5722;
    background: #fff;
    /* margin: 30px 0 0 65px; */
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 30px;
    padding: 0 18px;
}
.cwyz-tige{
    position: absolute;
    bottom: -26px;
    left: 93px;
    color: #fff;
    display: none;
}
.cwyz_contactR{
    width: 598px;
    height: 520px;
    background: rgba(255,255,255,1);
    padding: 70px 66px 0;
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid rgba(255,87,34,.9);
    text-align: center;
}
.cwyz_contact_txt{
    margin-bottom: 38px;

}
.cwyz_contact_txt h2{
    font-size: 30px;
    color: #ff5722;
    text-transform: capitalize;
}
.cwyz_contact_txt p{
    font-size:36px;
    color: #393d49;
    margin: 14px 0 0 0;

}
.cwyz_message{
    margin-bottom: 50px;
}
.cwyz_message li{
    width: 100%;
    text-align: center;
    overflow: hidden;

}
.cwyz_img{
    height: 60px;
    line-height: 80px;
    float: left;
}
.cwyz_message img{
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}
.cwyz_message p{
    font-size: 20px;
    color: #3f3f3f;
    line-height: 23px;
    float: left;
    margin: 30px 0 0 30px;
    vertical-align: middle;
}
.cwyz_message .cwyz_color{
    color: rgb(119, 119, 119);
}
.cwyz_weixin{
    height: 20px;
    font-size: 0;
    text-align: center;
    position: relative;
    z-index: 10;
}
.cwyz_weixin::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 10px;
    left: 0;
    background: #d7d8db;
}
.cwyz_weixin::after {
    content: "";
    position: absolute;
    width: 114px;
    height: 50px;
    top: 5px;
    left: 50%;
    margin-left: -57px;
    background: #fff;
}
.cwyz_weixin li{
    display: inline-block;
    text-align: center;
    margin: 0 6px;
    position: relative;
    z-index: 10;
}