*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.abody{
    width: 100%;
    padding-top: 100px;
}
.xukx_banner{
    width: 100%;
    height: 330px;
    background: url('/img/xukxbanner.jpg')no-repeat center;
    background-size: cover;
}
.xwkx_title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding-top:100px;
}
.xwkx_news{
    padding-top: 0;
}
.xwkx_content{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
   
}
.xwkx_left{
    height: 60px;
    display: inline-block;
    position: relative;
}

.xwkx_left ul li{
    position: relative;
    transition: all 1s;
}
.xwkx_left ul li::before{
    content: "";
    position: absolute;
    width: 0px;
    top: 50%;
    left: 16px;
    height: 1px;
    background: #fff;
    z-index: 3;
    transition: all .5s;
}
.xwkx_left ul li::after{
    content: "";
    position: absolute;
    width: 0px;
    top: 50%;
    right: 16px;
    height: 1px;
    background: #fff;
    transition: all .5s;
}

.xwkx_left li:hover{
    color:#fff;
    width:64px;
    background-color: #ff5722;
}

.xwkx_left li:hover::after,.xwkx_left li:hover::before{
    width: 10px;
}

.xwkx_left .xukx_avtive{
    background-color: #ff5722;
    color: #fff ;
}
.xwkx_left .xukx_avtive::after,.xwkx_left .xwkx_avtive::before{
    width: 10px;
}
.xwkx_left li{
    float: left;
    height: 60px;
    color: #777777;
    font-size: 16px;
    font-weight: 100;
    padding: 0 38px;
    
}
.xwkx_right{
    height: 60px;
    position: relative;
    float: right;
}

.xwkx_right li{
    float: left;
    font-size: 12px;
    color: #b0b0b0;
}
.xwkx_right li:nth-child(4){
    color: #ff5722;
}
.xwkx_right :hover{
    color:#ff5722 ;
}
.xwkx_right li i{
    display: inline-block;
    line-height: 58px;
    width: 10px;
    font-size: 14px;
    color: #b0b0b0;
}
.xukx_icon{
    position: absolute;
    top: 22px;
    left: -22px;
    background: url('/img/xukx_position.png') no-repeat;
    font-size: 12px;
    height: 60px;
    line-height: 60px;
    padding-left: 24px;
}


/* 主题部分 */
#all_main{
    padding: 60px 0 80px;
}
.xwkx_main{
    width: 1200px;
    margin: 0  auto;
}

.xwkx_main ul{
    width: 1280px;
    position: relative;
}
.simg{
    height: 354px;
    float: left;
    padding-right: 64px;
    border-bottom: 1px dashed #898989;
   
}
.simg img{
    width: 400px;
    float: left;
    height: 250px;
    margin-top: 52px;
    transition: all .2s;
}
.simg img:hover{
    transform: scale(1.05);
}
.xwkx_txt{
    float: left;
    width: 515px;
    height: 269px;
    margin-top: 85px;
    border-bottom: 1px dashed #898989;
}
.xwkx_txt .stit{
    color: #ff5722;
    font-size: 35px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
    margin-bottom: 19px;
}
.xwkx_txt .sdesc{
    font-size: 14px;
    color: #797979;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 45px;
}
.xwkx_box{
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 32px;
    transform-style: preserve-3d;
    transition: all 0.36s ease-in-out;
}
.xwkx_box span{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 32px;
    display: inline-block;
    z-index: 0;
    left: 0;
}
 .xwkx_box .xwkx_more{
    transform: translate3d(0, 0, 16px);
    background: url('/img/xukx_more1.jpg') center no-repeat;
}
.xwkx_box .xukx_hover{
    transform: rotateX(-90deg) translate3d(0, 0, 16px);
    background: url('/img/xukx_more_hover.jpg') center no-repeat;
}
.xwkx_box:hover {
    transform: rotateX(90deg);
    cursor: pointer;
}
.xukx_time{
    float: left;
    height: 354px;
    border-right: 2px solid #ff5722;
    line-height: 354px;
    width: 180px;
    font-size: 28px;
    color: #ff5722;
    position: relative;
    margin-right: 50px;
   
}
.xukx_time i{
    display: block;
    width: 20px;
    height: 20px;
    background: #ff5722;
    position: absolute;
    top: 167px;
    right: -9px;
    border-radius: 20px;
}
